ext-sources-app/tests/test_files/EPLSSearchWebService.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://www.epls.gov/epls/services/EPLSSearchWebService" xmlns:intf="https://www.epls.gov/epls/services/EPLSSearchWebService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.epls.gov/epls/services/EPLSSearchWebService">
	<wsdl:types>
		<schema targetNamespace="https://www.epls.gov/epls/services/EPLSSearchWebService" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:BeanService"/>
			<import namespace="http://xml.apache.org/xml-soap"/>
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="ArrayOf_xsd_string">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_EPLSStateCountry">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:EPLSStateCountry[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType abstract="true" name="EPLSValueObject">
				<sequence/>
			</complexType>
			<complexType name="ArrayOf_tns1_EPLSAgencyUID">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:EPLSAgencyUID[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_EPLSCtCode">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:EPLSCtCode[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="EPLSSearchResponseBase">
				<sequence>
					<element name="count" type="xsd:int"/>
					<element name="errorMessage" nillable="true" type="xsd:string"/>
					<element name="successful" type="xsd:boolean"/>
				</sequence>
			</complexType>
			<complexType name="ArrayOf_tns1_EPLSAction">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:EPLSAction[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_EPLSAddress">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:EPLSAddress[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_EPLSReference">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:EPLSReference[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_EPLSSearchResult">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:EPLSSearchResult[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_EPLSAction_3_6">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:EPLSAction_3_6[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_EPLSSearchResult_3_6">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:EPLSSearchResult_3_6[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_EPLSSearchResult_3_15">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:EPLSSearchResult_3_15[]"/>
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		<schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			<import namespace="http://xml.apache.org/xml-soap"/>
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="EPLSStateCountry">
				<sequence>
					<element name="abbreviation" nillable="true" type="xsd:string"/>
					<element name="name" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="EPLSDateRange">
				<sequence>
					<element name="endDate" nillable="true" type="xsd:dateTime"/>
					<element name="startDate" nillable="true" type="xsd:dateTime"/>
				</sequence>
			</complexType>
			<complexType name="EPLSAgencyUID">
				<sequence>
					<element name="uidType" nillable="true" type="xsd:string"/>
					<element name="uidValue" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="EPLSCtCode">
				<sequence>
					<element name="ctCode" nillable="true" type="xsd:string"/>
					<element name="ctType" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="OperationSearch">
				<complexContent>
					<extension base="impl:EPLSValueObject">
						<sequence>
							<element name="actionDate" nillable="true" type="tns1:EPLSDateRange"/>
							<element name="agency" nillable="true" type="impl:ArrayOf_xsd_string"/>
							<element name="agencyUID" nillable="true" type="impl:ArrayOf_tns1_EPLSAgencyUID"/>
							<element name="classification" nillable="true" type="impl:ArrayOf_xsd_string"/>
							<element name="country" nillable="true" type="impl:ArrayOf_xsd_string"/>
							<element name="createDate" nillable="true" type="tns1:EPLSDateRange"/>
							<element name="ctCode" nillable="true" type="impl:ArrayOf_tns1_EPLSCtCode"/>
							<element name="deleteDate" nillable="true" type="tns1:EPLSDateRange"/>
							<element name="duns" nillable="true" type="xsd:string"/>
							<element name="exactName" nillable="true" type="xsd:string"/>
							<element name="exclusionType" nillable="true" type="impl:ArrayOf_xsd_string"/>
							<element name="first" nillable="true" type="xsd:string"/>
							<element name="last" nillable="true" type="xsd:string"/>
							<element name="middle" nillable="true" type="xsd:string"/>
							<element name="modifyDate" nillable="true" type="tns1:EPLSDateRange"/>
							<element name="name" nillable="true" type="xsd:string"/>
							<element name="partialName" nillable="true" type="xsd:string"/>
							<element name="prefix" nillable="true" type="xsd:string"/>
							<element name="state" nillable="true" type="impl:ArrayOf_xsd_string"/>
							<element name="suffix" nillable="true" type="xsd:string"/>
							<element name="termDate" nillable="true" type="tns1:EPLSDateRange"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="EPLSAction">
				<complexContent>
					<extension base="impl:EPLSValueObject">
						<sequence>
							<element name="actionDate" nillable="true" type="xsd:dateTime"/>
							<element name="agencyComponent" nillable="true" type="xsd:string"/>
							<element name="ctCode" nillable="true" type="xsd:string"/>
							<element name="termDate" nillable="true" type="xsd:dateTime"/>
							<element name="termType" nillable="true" type="xsd:string"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="EPLSAddress">
				<complexContent>
					<extension base="impl:EPLSValueObject">
						<sequence>
							<element name="city" nillable="true" type="xsd:string"/>
							<element name="country" nillable="true" type="xsd:string"/>
							<element name="duns" nillable="true" type="xsd:string"/>
							<element name="province" nillable="true" type="xsd:string"/>
							<element name="state" nillable="true" type="xsd:string"/>
							<element name="street1" nillable="true" type="xsd:string"/>
							<element name="street2" nillable="true" type="xsd:string"/>
							<element name="zip" nillable="true" type="xsd:string"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="EPLSReference">
				<sequence>
					<element name="name" nillable="true" type="xsd:string"/>
					<element name="type" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="EPLSSearchResult">
				<sequence>
					<element name="action" nillable="true" type="impl:ArrayOf_tns1_EPLSAction"/>
					<element name="address" nillable="true" type="impl:ArrayOf_tns1_EPLSAddress"/>
					<element name="agencyUID" nillable="true" type="impl:ArrayOf_tns1_EPLSAgencyUID"/>
					<element name="classification" nillable="true" type="xsd:string"/>
					<element name="description" nillable="true" type="impl:ArrayOf_xsd_string"/>
					<element name="exclusionType" nillable="true" type="xsd:string"/>
					<element name="name" nillable="true" type="xsd:string"/>
					<element name="ofacProgram" nillable="true" type="impl:ArrayOf_xsd_string"/>
					<element name="reference" nillable="true" type="impl:ArrayOf_tns1_EPLSReference"/>
					<element name="values" nillable="true" type="apachesoap:Map"/>
				</sequence>
			</complexType>
			<complexType name="EPLSSearchResponse">
				<complexContent>
					<extension base="impl:EPLSSearchResponseBase">
						<sequence>
							<element name="results" nillable="true" type="impl:ArrayOf_tns1_EPLSSearchResult"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="OperationSsnSearch">
				<complexContent>
					<extension base="impl:EPLSValueObject">
						<sequence>
							<element name="exactName" nillable="true" type="xsd:string"/>
							<element name="ssnOrTin" nillable="true" type="xsd:string"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="EPLSAction_3_6">
				<complexContent>
					<extension base="impl:EPLSValueObject">
						<sequence>
							<element name="EPLSCreateDate" nillable="true" type="xsd:dateTime"/>
							<element name="EPLSModDate" nillable="true" type="xsd:dateTime"/>
							<element name="actionDate" nillable="true" type="xsd:dateTime"/>
							<element name="actionStatus" nillable="true" type="xsd:string"/>
							<element name="agencyComponent" nillable="true" type="xsd:string"/>
							<element name="ctCode" nillable="true" type="xsd:string"/>
							<element name="termDate" nillable="true" type="xsd:dateTime"/>
							<element name="termType" nillable="true" type="xsd:string"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="EPLSSearchResult_3_6">
				<sequence>
					<element name="action" nillable="true" type="impl:ArrayOf_tns1_EPLSAction_3_6"/>
					<element name="address" nillable="true" type="impl:ArrayOf_tns1_EPLSAddress"/>
					<element name="agencyUID" nillable="true" type="impl:ArrayOf_tns1_EPLSAgencyUID"/>
					<element name="classification" nillable="true" type="xsd:string"/>
					<element name="description" nillable="true" type="impl:ArrayOf_xsd_string"/>
					<element name="exclusionType" nillable="true" type="xsd:string"/>
					<element name="name" nillable="true" type="xsd:string"/>
					<element name="ofacProgram" nillable="true" type="impl:ArrayOf_xsd_string"/>
					<element name="reference" nillable="true" type="impl:ArrayOf_tns1_EPLSReference"/>
					<element name="values" nillable="true" type="apachesoap:Map"/>
				</sequence>
			</complexType>
			<complexType name="EPLSSearchResponse_3_6">
				<complexContent>
					<extension base="impl:EPLSSearchResponseBase">
						<sequence>
							<element name="results" nillable="true" type="impl:ArrayOf_tns1_EPLSSearchResult_3_6"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="EPLSSearchResult_3_15">
				<sequence>
					<element name="action" nillable="true" type="impl:ArrayOf_tns1_EPLSAction_3_6"/>
					<element name="address" nillable="true" type="impl:ArrayOf_tns1_EPLSAddress"/>
					<element name="agencyUID" nillable="true" type="impl:ArrayOf_tns1_EPLSAgencyUID"/>
					<element name="classification" nillable="true" type="xsd:string"/>
					<element name="description" nillable="true" type="impl:ArrayOf_xsd_string"/>
					<element name="exclusionType" nillable="true" type="xsd:string"/>
					<element name="first" nillable="true" type="xsd:string"/>
					<element name="last" nillable="true" type="xsd:string"/>
					<element name="middle" nillable="true" type="xsd:string"/>
					<element name="name" nillable="true" type="xsd:string"/>
					<element name="ofacProgram" nillable="true" type="impl:ArrayOf_xsd_string"/>
					<element name="prefix" nillable="true" type="xsd:string"/>
					<element name="reference" nillable="true" type="impl:ArrayOf_tns1_EPLSReference"/>
					<element name="suffix" nillable="true" type="xsd:string"/>
					<element name="values" nillable="true" type="apachesoap:Map"/>
				</sequence>
			</complexType>
			<complexType name="EPLSSearchResponse_3_15">
				<complexContent>
					<extension base="impl:EPLSSearchResponseBase">
						<sequence>
							<element name="results" nillable="true" type="impl:ArrayOf_tns1_EPLSSearchResult_3_15"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			<import namespace="urn:BeanService"/>
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="mapItem">
				<sequence>
					<element name="key" nillable="true" type="xsd:anyType"/>
					<element name="value" nillable="true" type="xsd:anyType"/>
				</sequence>
			</complexType>
			<complexType name="Map">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="getAgenciesResponse">
		<wsdl:part name="getAgenciesReturn" type="impl:ArrayOf_xsd_string"/>
	</wsdl:message>
	<wsdl:message name="getStatesResponse">
		<wsdl:part name="getStatesReturn" type="impl:ArrayOf_tns1_EPLSStateCountry"/>
	</wsdl:message>
	<wsdl:message name="isRunningRequest">

   </wsdl:message>
	<wsdl:message name="doSearchResponse">
		<wsdl:part name="doSearchReturn" type="tns1:EPLSSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="getCountriesRequest">

   </wsdl:message>
	<wsdl:message name="doArchiveSearch_3_6Request">
		<wsdl:part name="query" type="tns1:OperationSearch"/>
	</wsdl:message>
	<wsdl:message name="doArchiveSearchRecentUpdatesRequest">

   </wsdl:message>
	<wsdl:message name="doArchiveSearchResponse">
		<wsdl:part name="doArchiveSearchReturn" type="tns1:EPLSSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="doSsnSearch_3_15Request">
		<wsdl:part name="query" type="tns1:OperationSsnSearch"/>
	</wsdl:message>
	<wsdl:message name="doSearchRecentUpdates_3_15Request">

   </wsdl:message>
	<wsdl:message name="doArchiveSearchRecentUpdates_3_6Response">
		<wsdl:part name="doArchiveSearchRecentUpdates_3_6Return" type="tns1:EPLSSearchResponse_3_6"/>
	</wsdl:message>
	<wsdl:message name="doSearch_3_6Request">
		<wsdl:part name="query" type="tns1:OperationSearch"/>
	</wsdl:message>
	<wsdl:message name="doSearch_3_15Response">
		<wsdl:part name="doSearch_3_15Return" type="tns1:EPLSSearchResponse_3_15"/>
	</wsdl:message>
	<wsdl:message name="getAgencyUIDTypesRequest">

   </wsdl:message>
	<wsdl:message name="doSearchRecentUpdates_3_6Response">
		<wsdl:part name="doSearchRecentUpdates_3_6Return" type="tns1:EPLSSearchResponse_3_6"/>
	</wsdl:message>
	<wsdl:message name="getCountriesResponse">
		<wsdl:part name="getCountriesReturn" type="impl:ArrayOf_tns1_EPLSStateCountry"/>
	</wsdl:message>
	<wsdl:message name="doArchiveSearch_3_6Response">
		<wsdl:part name="doArchiveSearch_3_6Return" type="tns1:EPLSSearchResponse_3_6"/>
	</wsdl:message>
	<wsdl:message name="doArchiveSearch_3_15Response">
		<wsdl:part name="doArchiveSearch_3_15Return" type="tns1:EPLSSearchResponse_3_15"/>
	</wsdl:message>
	<wsdl:message name="doArchiveSearchRecentUpdates_3_15Request">

   </wsdl:message>
	<wsdl:message name="doSsnSearch_3_6Response">
		<wsdl:part name="doSsnSearch_3_6Return" type="tns1:EPLSSearchResponse_3_6"/>
	</wsdl:message>
	<wsdl:message name="doSearchRecentUpdates_3_15Response">
		<wsdl:part name="doSearchRecentUpdates_3_15Return" type="tns1:EPLSSearchResponse_3_15"/>
	</wsdl:message>
	<wsdl:message name="doArchiveSearch_3_15Request">
		<wsdl:part name="query" type="tns1:OperationSearch"/>
	</wsdl:message>
	<wsdl:message name="doArchiveSearchRecentUpdates_3_6Request">

   </wsdl:message>
	<wsdl:message name="doSsnSearch_3_6Request">
		<wsdl:part name="query" type="tns1:OperationSsnSearch"/>
	</wsdl:message>
	<wsdl:message name="getClassificationsResponse">
		<wsdl:part name="getClassificationsReturn" type="impl:ArrayOf_xsd_string"/>
	</wsdl:message>
	<wsdl:message name="doArchiveSearchRequest">
		<wsdl:part name="query" type="tns1:OperationSearch"/>
	</wsdl:message>
	<wsdl:message name="doSearchRecentUpdatesResponse">
		<wsdl:part name="doSearchRecentUpdatesReturn" type="tns1:EPLSSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="doSsnSearch_3_15Response">
		<wsdl:part name="doSsnSearch_3_15Return" type="tns1:EPLSSearchResponse_3_15"/>
	</wsdl:message>
	<wsdl:message name="getAgencyUIDTypesResponse">
		<wsdl:part name="getAgencyUIDTypesReturn" type="impl:ArrayOf_xsd_string"/>
	</wsdl:message>
	<wsdl:message name="getExclusionTypesRequest">

   </wsdl:message>
	<wsdl:message name="doSsnSearchResponse">
		<wsdl:part name="doSsnSearchReturn" type="tns1:EPLSSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="getCtCodesRequest">

   </wsdl:message>
	<wsdl:message name="doSsnSearchRequest">
		<wsdl:part name="query" type="tns1:OperationSsnSearch"/>
	</wsdl:message>
	<wsdl:message name="doArchiveSearchRecentUpdates_3_15Response">
		<wsdl:part name="doArchiveSearchRecentUpdates_3_15Return" type="tns1:EPLSSearchResponse_3_15"/>
	</wsdl:message>
	<wsdl:message name="getClassificationsRequest">

   </wsdl:message>
	<wsdl:message name="doArchiveSearchRecentUpdatesResponse">
		<wsdl:part name="doArchiveSearchRecentUpdatesReturn" type="tns1:EPLSSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="getStatesRequest">

   </wsdl:message>
	<wsdl:message name="isRunningResponse">
		<wsdl:part name="isRunningReturn" type="xsd:boolean"/>
	</wsdl:message>
	<wsdl:message name="getCtCodesResponse">
		<wsdl:part name="getCtCodesReturn" type="impl:ArrayOf_tns1_EPLSCtCode"/>
	</wsdl:message>
	<wsdl:message name="doSearch_3_6Response">
		<wsdl:part name="doSearch_3_6Return" type="tns1:EPLSSearchResponse_3_6"/>
	</wsdl:message>
	<wsdl:message name="doSearchRequest">
		<wsdl:part name="query" type="tns1:OperationSearch"/>
	</wsdl:message>
	<wsdl:message name="getAgenciesRequest">

   </wsdl:message>
	<wsdl:message name="getExclusionTypesResponse">
		<wsdl:part name="getExclusionTypesReturn" type="impl:ArrayOf_xsd_string"/>
	</wsdl:message>
	<wsdl:message name="doSearch_3_15Request">
		<wsdl:part name="query" type="tns1:OperationSearch"/>
	</wsdl:message>
	<wsdl:message name="doSearchRecentUpdates_3_6Request">

   </wsdl:message>
	<wsdl:message name="doSearchRecentUpdatesRequest">

   </wsdl:message>
	<wsdl:portType name="EPLSSearchWebService">
		<wsdl:operation name="isRunning">
			<wsdl:input name="isRunningRequest" message="impl:isRunningRequest"/>
			<wsdl:output name="isRunningResponse" message="impl:isRunningResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getClassifications">
			<wsdl:input name="getClassificationsRequest" message="impl:getClassificationsRequest"/>
			<wsdl:output name="getClassificationsResponse" message="impl:getClassificationsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getExclusionTypes">
			<wsdl:input name="getExclusionTypesRequest" message="impl:getExclusionTypesRequest"/>
			<wsdl:output name="getExclusionTypesResponse" message="impl:getExclusionTypesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getStates">
			<wsdl:input name="getStatesRequest" message="impl:getStatesRequest"/>
			<wsdl:output name="getStatesResponse" message="impl:getStatesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getAgencies">
			<wsdl:input name="getAgenciesRequest" message="impl:getAgenciesRequest"/>
			<wsdl:output name="getAgenciesResponse" message="impl:getAgenciesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="doSearch" parameterOrder="query">
			<wsdl:input name="doSearchRequest" message="impl:doSearchRequest"/>
			<wsdl:output name="doSearchResponse" message="impl:doSearchResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getCtCodes">
			<wsdl:input name="getCtCodesRequest" message="impl:getCtCodesRequest"/>
			<wsdl:output name="getCtCodesResponse" message="impl:getCtCodesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getCountries">
			<wsdl:input name="getCountriesRequest" message="impl:getCountriesRequest"/>
			<wsdl:output name="getCountriesResponse" message="impl:getCountriesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getAgencyUIDTypes">
			<wsdl:input name="getAgencyUIDTypesRequest" message="impl:getAgencyUIDTypesRequest"/>
			<wsdl:output name="getAgencyUIDTypesResponse" message="impl:getAgencyUIDTypesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearch" parameterOrder="query">
			<wsdl:input name="doArchiveSearchRequest" message="impl:doArchiveSearchRequest"/>
			<wsdl:output name="doArchiveSearchResponse" message="impl:doArchiveSearchResponse"/>
		</wsdl:operation>
		<wsdl:operation name="doSsnSearch" parameterOrder="query">
			<wsdl:input name="doSsnSearchRequest" message="impl:doSsnSearchRequest"/>
			<wsdl:output name="doSsnSearchResponse" message="impl:doSsnSearchResponse"/>
		</wsdl:operation>
		<wsdl:operation name="doSearchRecentUpdates">
			<wsdl:input name="doSearchRecentUpdatesRequest" message="impl:doSearchRecentUpdatesRequest"/>
			<wsdl:output name="doSearchRecentUpdatesResponse" message="impl:doSearchRecentUpdatesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearchRecentUpdates">
			<wsdl:input name="doArchiveSearchRecentUpdatesRequest" message="impl:doArchiveSearchRecentUpdatesRequest"/>
			<wsdl:output name="doArchiveSearchRecentUpdatesResponse" message="impl:doArchiveSearchRecentUpdatesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="doSearch_3_6" parameterOrder="query">
			<wsdl:input name="doSearch_3_6Request" message="impl:doSearch_3_6Request"/>
			<wsdl:output name="doSearch_3_6Response" message="impl:doSearch_3_6Response"/>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearch_3_6" parameterOrder="query">
			<wsdl:input name="doArchiveSearch_3_6Request" message="impl:doArchiveSearch_3_6Request"/>
			<wsdl:output name="doArchiveSearch_3_6Response" message="impl:doArchiveSearch_3_6Response"/>
		</wsdl:operation>
		<wsdl:operation name="doSsnSearch_3_6" parameterOrder="query">
			<wsdl:input name="doSsnSearch_3_6Request" message="impl:doSsnSearch_3_6Request"/>
			<wsdl:output name="doSsnSearch_3_6Response" message="impl:doSsnSearch_3_6Response"/>
		</wsdl:operation>
		<wsdl:operation name="doSearchRecentUpdates_3_6">
			<wsdl:input name="doSearchRecentUpdates_3_6Request" message="impl:doSearchRecentUpdates_3_6Request"/>
			<wsdl:output name="doSearchRecentUpdates_3_6Response" message="impl:doSearchRecentUpdates_3_6Response"/>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearchRecentUpdates_3_6">
			<wsdl:input name="doArchiveSearchRecentUpdates_3_6Request" message="impl:doArchiveSearchRecentUpdates_3_6Request"/>
			<wsdl:output name="doArchiveSearchRecentUpdates_3_6Response" message="impl:doArchiveSearchRecentUpdates_3_6Response"/>
		</wsdl:operation>
		<wsdl:operation name="doSearch_3_15" parameterOrder="query">
			<wsdl:input name="doSearch_3_15Request" message="impl:doSearch_3_15Request"/>
			<wsdl:output name="doSearch_3_15Response" message="impl:doSearch_3_15Response"/>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearch_3_15" parameterOrder="query">
			<wsdl:input name="doArchiveSearch_3_15Request" message="impl:doArchiveSearch_3_15Request"/>
			<wsdl:output name="doArchiveSearch_3_15Response" message="impl:doArchiveSearch_3_15Response"/>
		</wsdl:operation>
		<wsdl:operation name="doSsnSearch_3_15" parameterOrder="query">
			<wsdl:input name="doSsnSearch_3_15Request" message="impl:doSsnSearch_3_15Request"/>
			<wsdl:output name="doSsnSearch_3_15Response" message="impl:doSsnSearch_3_15Response"/>
		</wsdl:operation>
		<wsdl:operation name="doSearchRecentUpdates_3_15">
			<wsdl:input name="doSearchRecentUpdates_3_15Request" message="impl:doSearchRecentUpdates_3_15Request"/>
			<wsdl:output name="doSearchRecentUpdates_3_15Response" message="impl:doSearchRecentUpdates_3_15Response"/>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearchRecentUpdates_3_15">
			<wsdl:input name="doArchiveSearchRecentUpdates_3_15Request" message="impl:doArchiveSearchRecentUpdates_3_15Request"/>
			<wsdl:output name="doArchiveSearchRecentUpdates_3_15Response" message="impl:doArchiveSearchRecentUpdates_3_15Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EPLSSearchWebServiceSoapBinding" type="impl:EPLSSearchWebService">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="isRunning">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getClassifications">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getExclusionTypes">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStates">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAgencies">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doSearch">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCtCodes">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCountries">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAgencyUIDTypes">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearch">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doSsnSearch">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doSearchRecentUpdates">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearchRecentUpdates">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doSearch_3_6">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearch_3_6">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doSsnSearch_3_6">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doSearchRecentUpdates_3_6">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearchRecentUpdates_3_6">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doSearch_3_15">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearch_3_15">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doSsnSearch_3_15">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doSearchRecentUpdates_3_15">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doArchiveSearchRecentUpdates_3_15">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.epls.gsa.gov"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.epls.gov/epls/services/EPLSSearchWebService"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EPLSSearchWebServiceService">
		<wsdl:port name="EPLSSearchWebService" binding="impl:EPLSSearchWebServiceSoapBinding">
			<wsdlsoap:address location="https://gw.sam.gov/epls/services/EPLSSearchWebService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
